body {
    font-family: Arial, sans-serif;
}
input, textarea {
    padding: 5px;
    margin: 5px 0;
    width: 300px;
}
button {
    margin: 5px 5px 15px 0;
    padding: 5px 10px;
}
.tarjeta {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.tarjeta button {
    margin-top: 5px;
}