body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #f0f9ff;
}
button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #db2777;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background 0.3s;
}
button:hover {
    background-color: #be185d;
}