# Node.js dependencies
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Compiled output (si usás TypeScript)
dist/
build/

# OS específicos
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
